<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer>
        <!-- upper div -->
        <div>
            <!-- language -->
            <div>
                <div>
                    
                </div>
            </div>
            <!-- others -->
            <div>

            </div>
        </div>
        <!-- lower div -->
        <div>

        </div>
    </footer>
</body>
</html>